// Colori
$color-black: #000;
$color-white: #fff;
$primary-color: #55DBCB;
$color-secondary: #1c1c1c;

// Font
$font-family-default: Arial, sans-serif;
$font-family: "Ordina";

// Layout
$header-padding: 10px;
$footer-padding: 20px;
$sfondo-gradient: url('Sfondo/Sfondo.png');
$border-radius-default: 5px;
$gap-gallery: 30px;
$border-radius: 5px;
$gap-large: 30px;
$gap-default: 20px;
$transition-speed: 0.4s;
$text-color: #fff;
$link-hover-color: #555;
$hamburger-size: 30px;
$menu-width: 250px;
$menu-width-mobile: 50px;
$background-color: #000